<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, "Email地址" %><br />
  <%= f.email_field :email, :size => 20 %></div>

  <div>
	<%= f.label :password, "密码" %><br />
  	<%= f.password_field :password, :size => 20 %>
	<div class="helper_below"><%= link_to "忘记密码了？", new_password_path(resource_name) %></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class='checkbox_container'><%= f.check_box :remember_me %> <%= f.label :remember_me, "记住我" %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
