<!DOCTYPE html>
<html>
<head>
  <title>TRSS | 将任意RSS同步到新浪微博</title>
  <%= yield :alternate_link %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class='wrap_all'>
	<div class='header'>
		<div class='title'>
			<h1>
				<a title="Dashboard" href="/" class="logo_box_nerd_shit">
					<div class="even_nerdier_shit"></div>
				</a>
				
				<%= link_to 'TRSS', root_path %> / <%= yield :title %>
			</h1>
			<div class="clear"></div>
		</div>
		
		<div class='nav_right_side'>
			<div class='header_nav'>
				<% if user_signed_in? %>
				  <%= link_to('登出', destroy_user_session_path, :method => 'delete') %>        
				<% else %>
					<% if(controller_name == 'registrations') %>
						<%= link_to('登录', new_user_session_path) %>
					<% else %>
				  		<%= link_to('注册', new_user_registration_path) %>  
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class='clear' />
	
	<%= yield %>
</div>

</body>
</html>
